@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/globals.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #f3f4f6; /* o el color de fondo que uses normalmente */
}

/* Asegura que el main y las páginas también tengan el mismo fondo */
main,
main > div,
main > section {
  background-color: inherit;
}
