@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/globals.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #f3f4f6; /* o el color de fondo que uses normalmente */
}

/* Asegura que el main y las páginas también tengan el mismo fondo */
main,
main > div,
main > section {
  background-color: inherit;
}
/* Animación de ping más lenta (cada 3 segundos) */
@keyframes slowPing {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-slow-ping {
  animation: slowPing 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}
